# Core functionality - changes here should be rare!
/src/app.py                   @AbelGutierrezAccenture
/src/backend/database.py      @AbelGutierrezAccenture
/src/backend/routers/auth.py  @AbelGutierrezAccenture

# The frontend will need refactored soon to be more object oriented.
/src/static/   @AbelGutierrezAccenture
